.strength {
  display: flex;
  flex-direction: column;
}

.strengthBar {
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 10px;
  padding: 10px;
  vertical-align: 2px;
}

.point:last-of-type {
  margin: 0 !important;
}
